.markdown-container p {
  font-size: 1.3rem;
  line-height: 1.7;
}
.markdown-container ul,
.markdown-container li,
.markdown-container pre {
  font-size: 1.3rem;
  line-height: 1.7;
}

.markdown-container p code {
  padding: 5px 7px;
  background-color: #282a3633;
  color: coral;
  border-radius: 5px;
}
.markdown-container h1 {
  font-size: 2.5rem;
  line-height: 2;
}
.markdown-container h2 {
  font-size: 2rem;
  line-height: 2;
}
.markdown-container h3 {
  font-size: 1.75rem;
  line-height: 2;
}
.markdown-container h4 {
  font-size: 1.5rem;
  line-height: 1.7;
}
.markdown-container h5 {
  font-size: 1.25rem;
  line-height: 1.7;
}
